head
  title CMS UI Design

body
  #header
    #logo
      img(src='')
    ul
      li
        a RixTox

  #side-bar
    nav
      ul
        li
          a Home
        li
          a Web Pages
        li
          a News Articles
        li
          a Events
        li
          a File Manager
        li
          a Menus
    nav
      ul
        li
          a Commerce
        li
          a Email Marketing
        li
          a Membership
        li
          a Photo Album
        li
          a Forms
        li
          a Reports
    nav
      ul
        li
          a Configuration
        li
          a Tools
        li
          a Home Rotating
        li
          a Banner Ads
        li
          a Interior Features
        li
          a Blog