$blue = #4aa2e6
$green = #61d581
$grey = #848484
$light = #f0f0ee
$dark = #333

$title-color = $blue - 35%
$link-color = $grey
$link-hover-color = $blue

$sidebar-width = 250px
$sidebar-menu-border-width = 4px
$container-padding = 20px 25px